pkgbase = nitro-nsm
	pkgdesc = Nitro service manager
	pkgver = 0.9.1
	pkgrel = 1
	url = https://github.com/replabrobin/init-nitro-svcs
	arch = any
	license = MIT
	depends = init-nitro
	source = nsm
	b2sums = 7f750bca3ea542641ee139d635d6702f38a4a38c9165c286f658f07bbeaea63db7f2ba268251320b900bc63ec9397accdfd6f9dadf2c27c276c7025fbb5aca99

pkgname = nitro-nsm
